:root {
    --main-black: #212121;
    --grey-color: #757575;
    --main-white: #ffffff;
    --img-bgcolors: #EEEEEE;
    --blue-color: #2196f3;
    --button-bgcolor: #F5F4FA;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.img {
    display: block;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.span {
    color: var(--blue-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    background-color: var(--main-white);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.menu {
    background-color: var(--main-white);
}

.nav-logo {
    color: var(--main-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.nav-link {
    color: var(--main-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}

.link-mail,
.link-tel {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
    color: var(--blue-color);
}

.btn-all,
.btn-web,
.btn-app,
.btn-design,
.btn-mark {
    color: var(--main-black);
    background-color: var(--button-bgcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.btn-all:hover,
.btn-web:hover,
.btn-app:hover,
.btn-design:hover,
.btn-mark:hover,
.btn-all:focus,
.btn-web:focus,
.btn-app:focus,
.btn-design:focus,
.btn-mark:focus {
    background-color: var(--blue-color);
    color: var(--main-white);
}

.portfolio-img-title {
    color: var(--main-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-img-text {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-white);
}

.location-link {
    color: var(--main-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-mail-link,
.footer-tel-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}