:root {
    --main-black: #212121;
    --grey-color: #757575;
    --main-white: #ffffff;
    --img-bgcolors: #EEEEEE;
    --blue-color: #2196f3;
    --button-bgcolor: #F5F4FA;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.a {
    text-decoration: none;
}

.list {
    list-style: none;
}



.span {
    color: var(--blue-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    background-color: var(--main-white);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.menu {
    background-color: var(--main-white);
    border-bottom: 1px solid var(--border-header-color);
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-nav {
    display: flex;
    align-items: center;

}

.nav-logo {
    color: var(--main-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 92px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.nav-link {
    color: var(--main-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;

}

.menu-inform-list {
    display: flex;
    column-gap: 50px;
}

.link-mail,
.link-tel {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
    color: var(--blue-color);
}

/* MAIN */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0;
}

.filter-container {
    display: flex;
    max-width: 575px;
    margin-bottom: 50px;
}

.filter-list {
    display: flex;
    gap: 8px;
    padding: 6px 0;
}

.filter-item {}

.main-button {
    color: var(--main-black);
    background-color: var(--button-bgcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
}

.main-button:hover,
.main-button:focus {
    background-color: var(--blue-color);
    color: var(--main-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 30px;
}

.cards-container {
    max-width: 370px;
    border: 1px solid #EEEEEE;
}

.portfolio-img {
    max-width: 370px;
}

.img-inform-container {
    max-width: 322px;
    margin: 20px 24px;
}

.portfolio-img-title {
    color: var(--main-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-img-text {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}



.footer {
    background-color: #2F303A;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-white);
    margin-bottom: 20px;
    max-width: 145px;
}

.address-container {
    max-width: 231px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.location-link {
    color: var(--main-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-mail-link,
.footer-tel-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}